<div id="video">
<div class="video-title">
<h1 class="video-title-first">A JOURNEY THROUGH</h1>
<h2 class="video-title-second">SOME OF LIFE'S BEAUTIFUL MOMENTS</h2>
<h1 class="video-title-third">INTRODUCING "TIME IS NOW"</h1>
</div>
<div class="control">
<div id="playButton" class="play"></div>
<div id="muteButton" class="volume"></div>
<input class="volume-slider" type="range" value="0.5" max="1" step="0.01" />
</div>

<div class="video-watch">
<img class="watch-on-video" src="http://manniche.local/wp-content/uploads/2016/04/watch-on-video.png">

<a href="#" class="btn-shop-online">
<div class="btn-shop-top-title">THE LIMITIED COLLECTON</div>
<div class="btn-shop-bottom-title">SHOP ONLINE HERE</div>
</a>
</div>

<video class='thevideo' preload="none" name="media">
<source src="http://manniche.local/wp-content/uploads/2016/04/trailer.mp4" type="video/mp4">
</video>

</div>
