/*
Theme Name: Pivot Child
Theme URI: 
Description: Pivot WordPress Theme - Child Theme. Only Install if you're actually planning on making code changes to Pivot.
Author: <a href="http://www.madeinebor.com">Tom Rhodes</a>
Author URI: 
Template: pivot
Version: 1.0.0
*/
@import url('../pivot/style.css');
@import url('../pivot/rtl.css');

/*body*/
.article-body {
    padding-bottom: 0px;
    border-bottom: none;
}

table {
    border-radius: 0 !important;
}

h2, h3, h4, h5, h6 {
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.page h4 {
    line-height: 25px;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 3px;
}

.woocommerce h3 {
    font-size: 16px !important;
}

.home h2, .home h3, .home h4, .home h5, .home h6 {
    font-family: "Abril Fatface", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

section.mann-pagetext-vc .container {
    max-width: 1170px;
}

hgroup + p {
    padding-bottom: 0 !important;
}

.wpb_map_wraper {
  -webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
}

ul.subnav {
    height: 0;
    padding: 0;
    overflow: hidden;
}

li:hover ul.subnav {
    height: auto;
    padding: 12px 0;
}

li#menu-item-20:hover ul.subnav {
    padding: 18px 0 8px;
    box-shadow: 2px 2px 4px #ddd;
    left: -9px;
}

li#menu-item-20 ul.subnav li:hover {
    background: black;
}

li#menu-item-20 ul.subnav li:hover a:hover,
li#menu-item-20 ul.subnav li:hover a {
    color: white;
}

.sidebar-widget a:hover,
.sidebar-widget li a:hover,
.menu li a:hover {
    color: #777;
}

li#menu-item-20 ul.subnav li {
    padding: 16px 23px;
    min-width: 232px;
    max-height: 46px;
}

li#menu-item-20 ul.subnav li a {
    font-size: 10px;
}

#menu-item-20:hover .subnav.subnav-fullwidth {
    height: 365px;
    padding: 48px 0 42px;
}

#menu-item-20 img {
    margin-bottom: 15px;
}

nav a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-square.vc_btn3-style-custom {
    padding-bottom: 14px;
    display: block;
}

#menu-item-20 h1 {
    margin-bottom: 12px;
    font-family: 'Abril Fatface', serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}

#menu-item-20 .alt-font.text-center.ebor-block {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 25px;
}

/*fonts*/
body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #000;
    font-size: 12px;
    line-height: 24px;
    direction: ltr;
    unicode-bidi: embed;
}

.section4 {
    padding-top: 60px !important;
}

.dark-wrapper {
    /*padding-top: 28px;*/
    background: #eff0f3 !important;
}

.single-post section.dark-wrapper {
    padding-top: 0;
    padding-bottom: 28px;
}

.single-post section.dark-wrapper .row {
    background: white;
    padding: 30px 0px;
}

.blog section.dark-wrapper {
    background: white !important;
    padding-bottom: 28px;
}

.main-container {
    margin-top: 0px !important;
}

.home .article-body p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0px;
}

.article-body h2 {
    font-size: 20px;
    /*font-weight: 300;*/
    margin-bottom: 10px;
}

.article-body p {
    line-height: 23px;
}

hgroup {
    padding: 60px 0 0;
}

hgroup h1 {
    font-size: 34px;
    text-align: center;
    line-height: 1.4;
}

hgroup h3 {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.4;
}

h2 {
    line-height: 30px;
}

.tp-bullets {
    bottom: 55px !important;
}

#rev_slider_3_1_wrapper .tp-bullets,
#rev_slider_1_1_wrapper .tp-bullets {
    bottom: 125px !important;
}

.tp-bullets .bullet {
    -webkit-transform: rotate(45deg) scale(.5);
    -moz-transform: rotate(45deg) scale(.5);
    -ms-transform: rotate(45deg) scale(.5);
    transform: rotate(45deg) scale(.5);
    margin-right: 5px;
}

.face-icon {
    position: relative;
    bottom: 30px;
}

footer.details .sub {
    font-size: 12px;
    display: inline-block;
    margin-top: 0px;
}

.footer-container {
    padding-top: 35px;
    background: black;
}

.vc_icon_element.vc_icon_element-outer.vc_icon_element-align-left {
    float: left;
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
}

/* header, menu custom styles */
.menu li a {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-transform: none;
    letter-spacing: 1px;
    color: #fff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
    padding-bottom: 10px;
    display: inline-block;
    line-height: 14px;
}

.utility-menu {
    margin-top: 16px;
    display: none !important;
}

.top-bar .utility-menu .utility-inner {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: none !important;
}

.centered-logo .bottom-border {
    width: 100%;
    height: 4px;
    background: #e74c3c;
    display: none;
}

.ebor-count {
    top: -8px;
    left: -7px;
    text-indent: 0px;
}

.centered-logo .social-icons {
    margin-top: 4px;
}

.centered-logo .menu li a {
    padding-bottom: 32px;
}

.centered-logo .nav-menu,
.top-bar.nav-sticky .nav-menu {
    padding-top: 23px;
    height: 70px;
}

.top-bar {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #000;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    line-height: 0;
    position: relative;
    top: 0;
    transition-delay: 0s;
    transition-duration: 500ms;
    transition-property: all;
    transition-timing-function: ease;
    width: 100%;
    z-index: 10;
}

.logo-section {
    border-bottom: 2px solid #c6c6c6;
    background-color: #eff0f3;
    padding-top: 10px;
    padding-bottom: 20px;
}

.logo-position {

}

.top-bar .sticky-logo {
    display: none;
}

.top-bar .lang-switcher {
    margin-top: 10px;
    text-transform: uppercase;
}

.top-bar .lang-switcher ul {
    margin-bottom: 0;
}

.vc_toggle ul li {
    font-size: 14px;
    padding-bottom: 14px;
}

.lang-switcher ul li.inactive {
    position: absolute;
    padding-top: 33px;
    display: block;
    left: -5px;
    width: 100px;
    text-align: left;
    -webkit-margin-before: 4px;
}

_::-webkit-full-page-media, _:future, :root .lang-switcher ul li.inactive {
    padding-top: 29px;
}

.nav-with-logo .lang-switcher ul li.inactive,
.nav-sticky .lang-switcher ul li.inactive {
    left: inherit;
    right: 5px;
}

.mann-pagetext-vc .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.lang-switcher ul li.inactive a {
    color: black;
    background: white;
    width: 100px;
    display: block;
    height: 0;
    overflow: hidden;
    padding: 0 15px;
    text-transform: capitalize;
}

.lang-switcher:hover ul li.inactive a {
    height: 26px;
    padding: 15px;
}

.top-bar .lang-switcher a {
    color: #666;
}

.top-bar .lang-switcher .active a {
    color: #fff;
}

.top-bar.nav-sticky {
    background: none;
    background-color: #000;
}

.top-bar.nav-sticky .menu li a {
    padding-bottom: 32px;
}

.top-bar.nav-sticky .subnav {
    background: #fff;
}

.top-bar.nav-sticky .sticky-logo,
.top-bar.nav-with-logo .sticky-logo {
    display: block;
    margin-top: -16px;
}

.top-bar.nav-sticky .lang-switcher,
.top-bar.nav-with-logo .lang-switcher {
    float: right !important;
    margin-left: 20px;
}

.has-dropdown {
    bottom: 0;
}

.has-dropdown:after {
    position: absolute;
    left: 50%;
    bottom: -14px;
    margin-left: -15px;
    font-size: 0;
    width: 0;
    height: 0;
    content: ' ';
    border-top: 15px solid #000;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    display: block;
    opacity: 0;
    transition: .5s ease-in-out;
}

.has-dropdown:hover:after {
    opacity: 1;
}

.has-dropdown:hover {
    transition-delay: 1s;
}

div.subnav {
    top: 71px; /*45*/
    left: 0 !important;
    right: 0;
    position: fixed;
    width: 100% !important;
    padding: 0;
    transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    height: 0;
    display: block !important;
}

.subnav {
    display: block;
}

.vc_btn3.vc_btn3-color-juicy-pink,
.vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
    color: black !important;
    padding: 0 15px;
    border-radius: 0;
    display: block;
    background: none !important;
    font-size: 14px !important;
    float: right;
    text-align: right;
}

.vc_grid-item .vc_custom_1419334531994 {
    background: white !important;
}

.vc_gitem-zone.vc_gitem-zone-a.vc_gitem-is-link {
    background-size: cover;
    min-height: 320px;
}

.vc_grid.vc_grid-gutter-25px .vc_grid-item {
    padding-left: 0;
}

.has-dropdown:hover div.subnav {
    height: 260px;
    padding: 50px 0;
}

.subnav.subnav-fullwidth .row {
    padding-left: 270px;
    padding-right: 230px;
    width: 1170px;
    margin: 0 auto;
    box-sizing: border-box;
}

.subnav h1 {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.4;
    margin-bottom: 32px;
}

.subnav li > a {
    color: #000;
}

.social-icons li a {
    color: #fff;
}

.mann-pagetext {
    /*padding-top: 70px;*/
    padding-bottom: 22px; /*32*/
    background: #eff0f3;
}

.page-id-109 section.mann-pagetext {
    padding-bottom: 0;
}

.mann-pagetext .wrapper {
    padding-bottom: 80px;
    background: #fff;
    -webkit-box-shadow: 0px 4px 2px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 4px 2px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 4px 2px 0px rgba(50, 50, 50, 0.1);
}

.mann-pagetext .wrapper p {
    font-size: 14px;
    /*padding-bottom: 14px;*/
    margin-bottom: 11px;
}

.mann-pagetext-vc {
    background: #eff0f3;
}

.mann-pagetext-vc .vc_row {
    background: #fff;
    -webkit-box-shadow: 0px 4px 2px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 4px 2px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 4px 2px 0px rgba(50, 50, 50, 0.1);
}

input, textarea {
    background: #f7f7f7;
}

.ebor-cart .ebor-count, .woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #a1a9bb;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.answer-question .vc_toggle_content {
    padding-top: 10px;
}

.wpcf7-form input[type='text'],
.wpcf7-form input[type='email'],
.wpcf7-form textarea {
    width: 100%;
}

.wpcf7-form input[type='email'].newsletter {
    width: 649px;
}

input[type="submit"] {
    border: 1px solid black;
    border-radius: 0;
    color: black;
}

/*Custom buttons*/

.vc_btn3.vc_btn3-shape-square {
    border-radius: 0;
    border: 1px solid #000 !important;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px !important;
    font-weight: 400 !important;
}

.vc_btn3.vc_btn3-style-custom:hover, .vc_btn3.vc_btn3-style-custom:focus {
    background-position: 0 100%;
    border: 1px solid #c7c7c7 !important;
    color: #c7c7c7 !important;
}

.vc_btn3.vc_btn3-size-md {
    font-size: 11px !important;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.vc_btn3.vc_btn3-style-custom {
    background-image: none !important;
    background-position: 0 -100%;
    background-repeat: repeat-x;
    background-size: 200% auto;
}

.vc_btn3.vc_btn3-color-grey.vc_btn3-style-outline {
    color: #ebebeb !important;
    border: 1px solid #ebebeb !important;
}

.vc_btn3.vc_btn3-color-grey.vc_btn3-style-outline:hover, .vc_btn3.vc_btn3-color-grey.vc_btn3-style-outline:focus {
    color: #c7c7c7 !important;
    border-color: #c7c7c7 !important;
    background-color: transparent !important;
}

.vc_toggle_title > h4 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.container .mix {
	display: none;
}

.mixitup-filters {
	position:relative;
	text-align: center;
	margin-bottom: 45px;
}

.mixitup-filters a {
	font-size:14px;
	text-decoration: none;
	color: #000;
}

.mixitup-filters .active a {
	font-weight: bold;
}

.mixitup-filters ul li {padding: 0 45px;}

.mixitup-filters:before {
	content: "";
	border-top: 1px solid #aeaeae;
	display: block;
	top: -25px;
	position: absolute;
	width:100%;
}

.press-item h2 {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.4;
	margin-top: 4px;
	margin-bottom: 4px;
	min-height:38px;
}

.press-item a {
	color: #000;
	float:left;
	display:block;
}

.press-item a:hover {
	color: #000;
}

.mann-pagetext .wrapper .press-item p {
	margin-bottom:0;
}

.press-item .date {
	font-style: italic;
}

.press-item .more-link {
	display: inline-block;
	padding: 2px 0 2px 4px;
	/*background: #f1f1f1;*/
  width: 57px;
  float: right;
  clear: both;
  margin: 0 auto;
}

.press-item .more-link:hover{opacity:.3;}

.press-item .more-link i {
	margin-left: 0;
	padding-top:2px;
}

/*footer, footer widgets styling*/
.footer-container {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    overflow: hidden;
    text-align: left;
}

footer.details {
    background: #000;
}

.sidebar-widget li .arrow_right {
    position: absolute;
    right: 0px;
    display: none;
}

footer.details h5.widgettitle {
    font-size: 13px;
    color: #fff;
    line-height: 48px;
    margin-bottom: 0px;
    font-family: 'Lato', sans-serif;
}

.sidebar-widget li {
    padding: 0px;
    border-bottom: none;
    width: 100%;
    position: relative;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.textwidget {
    color: #fff;
}

.logo-footer {
    padding-top: 20px;
    padding-bottom: 10px;
    display: none;
}

footer .sidebar-widget a {
    color: white;
}

/*Triangle*/
.triangle {
    width: 0;
    height: 0;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-right: 30px solid #fff;
    font-size: 0;
    line-height: 0;
    position: relative;
    top: 50%;
    transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
    -moz--transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    left: 0;
}

.triangle-right {
    width: 0;
    height: 0;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-left: 30px solid #fff;
    font-size: 0;
    line-height: 0;
    position: relative;
    top: 50%;
    transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
    -moz--transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    right: 0;
}

.triangle-box {
    position: absolute;
    right: 0px;
}

.triangle-box2 {
    position: absolute;
    left: 0px;
}

.vc_btn3.vc_btn3-size-md {
    min-width: 135px;
}

.white-border-btn button.vc_btn3.vc_btn3-shape-square {
    border: 1px solid #fff !important;
}

.white-border-btn button.vc_btn3.vc_btn3-shape-square:hover {
    border: 1px solid #eee !important;
}

.button-lineup {
    display: inline-block !important;
}

.center-align {
    text-align: center;
}

.button-lineup:nth-child(even) {
    margin-right: 25px !important;
}

.button.lineup button {
    min-width: 175px;
}

/*newsletter home style*/
.newsletter {
    background-color: #f1f2f5;
    border-top: 1px solid #cdced1;
    padding-top: 10px;
    padding-bottom: 12px;
    width: 469px;
    border-radius: 0px;
    font-size: 10px;
}

.submit-button {
    border-radius: 0px !important;
    background-color: #000 !important;
    color: #fff !important;
    border: none !important;
    padding: 16px 10px !important;
    min-width: 100px !important;
}

/*Mailchimp*/
#fca_eoi_form_1068 .fca_eoi_layout_5.fca_eoi_layout_postbox div.fca_eoi_layout_email_field_wrapper input.fca_eoi_form_input_element {
    background-color: #f1f2f5 !important;
    border-top: 1px solid #cdced1 !important;
    padding: 13px 14px 12px !important; /*original 13px 10px 15px*/
    width: 649px !important;
    border-radius: 0px !important;
    font-size: 12px !important; /*original 10px*/
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#fca_eoi_form_1068 .fca_eoi_layout_5.fca_eoi_layout_postbox div.fca_eoi_layout_submit_button_wrapper input.fca_eoi_form_button_element {
    -webkit-appearance: none;
    background: black !important;
    min-width: 100px !important;
    width: 100px !important;
    border-radius: 0px;
    display: inline-block;
    box-sizing: border-box !important;
    padding: 15px 0 26px;
    line-height: 1;
    font-family: Raleway, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px !important;
    letter-spacing: 1px;
    margin-top: 1px;
}

#fca_eoi_form_1068 div.fca_eoi_layout_5 div.fca_eoi_layout_field_inner,
#fca_eoi_form_1068 form.fca_eoi_layout_5 div.fca_eoi_layout_field_inner {
    margin: 0 !important;
    width: 649px;
}

#fca_eoi_form_1068 div.fca_eoi_layout_5 div.fca_eoi_layout_inputs_wrapper_no_name div.fca_eoi_layout_field_wrapper,
#fca_eoi_form_1068 form.fca_eoi_layout_5 div.fca_eoi_layout_inputs_wrapper_no_name div.fca_eoi_layout_field_wrapper {
    margin: 0;
    width: 649px !important;
    display: block;
    float: left !important;
}

#fca_eoi_form_1068 div.fca_eoi_layout_5 div.fca_eoi_layout_submit_button_wrapper,
#fca_eoi_form_1068 form.fca_eoi_layout_5 div.fca_eoi_layout_submit_button_wrapper {
    width: 100px !important;
    float: left;
    display: block;
    clear: none !important;
}

#fca_eoi_form_1068 div.fca_eoi_layout_5 div.fca_eoi_layout_inputs_wrapper,
#fca_eoi_form_1068 form.fca_eoi_layout_5 div.fca_eoi_layout_inputs_wrapper {
    width: 100% !important;
    margin: 0 !important;
}

#fca_eoi_form_1068 div.fca_eoi_layout_5.fca_eoi_layout_postbox,
#fca_eoi_form_1068 form.fca_eoi_layout_5.fca_eoi_layout_postbox {
    max-width: 100% !important;
    text-align: center;
}

#fca_eoi_form_1068 div.fca_eoi_layout_5 div.fca_eoi_layout_content_wrapper,
#fca_eoi_form_1068 form.fca_eoi_layout_5 div.fca_eoi_layout_content_wrapper {
    margin: 0 !important;
    display: inline-block;
}

/*Revolution slider styles*/
.tp-bullets.simplebullets.round .bullet {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

/*News Page*/
.page-id-2339 .mann-pagetext .wrapper,
#page-2339 p,
.page-id-123 .mann-pagetext .wrapper,
#page-123 p {
    padding: 0;
}

.vc_grid-item-zone-c-right .vc_gitem-zone-c {
    width: 60% !important;
}

.vc_grid-item-zone-c-right .vc_gitem-animated-block {
    width: 40% !important;
}

.page-id-2339 .mann-pagetext-vc .vc_row,
.page-id-123 .mann-pagetext-vc .vc_row {
    -webkit-box-shadow: 0px 4px 2px 0px rgba(50, 50, 50, 0) !important;
    -moz-box-shadow: 0px 4px 2px 0px rgba(50, 50, 50, 0) !important;
    box-shadow: 0px 4px 2px 0px rgba(255, 255, 255, 0) !important;
}

.news-date p {
    font-size: 11px;
}

.news-date.vc_gitem-post-data {
    margin-bottom: 2px;
}

.page-id-2339 .vc_grid.vc_grid-gutter-25px.vc_pageable-wrapper.vc_hook_hover,
.page-id-123 .vc_grid.vc_grid-gutter-25px.vc_pageable-wrapper.vc_hook_hover {
    background: #efefef;
}

.page-id-2339 .vc_grid-item-mini.vc_clearfix.vc_custom_1419334531994,
.page-id-123 .vc_grid-item-mini.vc_clearfix.vc_custom_1419334531994 {
    box-shadow: 0px 4px 2px 0px rgba(50, 50, 50, 0.1);
    margin-bottom: 4px;
    margin-right: 1px;
}

/*square*/
.square {
    width: 10px;
    height: 10px;
    background-color: #000;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    margin: 0 auto;
}

div.wpcf7 {
    margin-top: -10px;
}

.section1 {
    padding-top: 57px;
    padding-left: 131px;
}

.author-details img {
    margin-top: 0;
}

/*Shop Page*/
.woocommerce-page .logo-section {
    display: none;
}

.rbl_shop-button button,
.rbl_shop-button a {
    width: 235px;
}

.rbl_shop-button button:hover,
.rbl_shop-button a:hover {
    cursor: pointer !important;
}

.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce-page .woocommerce-info:before,
.woocommerce-page .woocommerce-message:before {
    padding-top: 0 !important;
}

#my-new-field:nth-child(3n+2),
#my-new-field:nth-child(even) {
    display: none;
}

.woocommerce .button, .woocommerce span.onsale, .woocommerce-page span.onsale, .woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale, .summary ins span.amount, .summary .price > span.amount {
    border: 1px solid black;
    display: block;
    color: black;
    padding: 15px 25px !important;
}

.woocommerce .button:hover, .woocommerce span.onsale:hover, .woocommerce-page span.onsale:hover, .woocommerce ul.products li.product .onsale:hover, .woocommerce-page ul.products li.product .onsale:hover, .summary ins span.amount:hover, .summary .price > span.amount:hover {
    text-decoration: none;
    opacity: .3;
}

.woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text {
    padding: 15px 15px 13px;
}

/*Cart*/
select.wcml_currency_switcher {
  display: none;
}

.return-to-shop a.button.wc-backward {
    width: 185px !important;
}

.woocommerce-cart .woocommerce-message {
    top: 0 !important;
    position: relative !important;
    overflow: hidden;
    min-height: 85px;
}

small.includes_tax,
.woocommerce .cart_totals table td {
    text-align: right !important;
}

tr .product-price,
.woocommerce .cart_totals table th {
    text-align: left !important;
}

.shipping-calculator-button {
    display: none
}

.coupon + input.button {
    float: right !important;
}

.wc-proceed-to-checkout a.checkout-button.button.alt.wc-forward {
    margin-top: 20px;
}

/*Checkout*/
.woocommerce #payment .terms, .woocommerce-page #payment .terms {
    text-align: left;
}

li.payment_method_paypal img {
    width: 50%;
}

li.payment_method_paypal a {
    opacity: .3;
    margin-left: 8px;
}

p.form-row.terms {
    padding-left: 0 !important;
}

.form-row.place-order {
  padding-right: 0 !important;
}

.woocommerce form .form-row label.checkbox,
.woocommerce-page form .form-row label.checkbox {
    float: none;
    position: absolute;
    margin-top: -3px;
    font-size: 14px;
}

#ship-to-different-address > label.checkbox,
#createaccount + .checkbox {
    padding: 0;
}

#ship-to-different-address > label.checkbox {
    margin-top: 1px
}

.woocommerce-checkout .alert.alert-error {
    border: 2px solid red;
    border-radius: 0;
    background: rgba(255, 0, 0, .2);
}

.woocommerce h3 {
    font-size: 16px !important;
}

.woocommerce td.product-name dl.variation dt,
.woocommerce-page td.product-name dl.variation dt,
dt.variation-choose-variation {
    display: none !important;
}

tfoot th,
td.product-name,
th.product-name {
    text-align: left !important;
}

tfoot td,
td.product-total,
th.product-total {
    text-align: right !important;
}

.woocommerce #customer_details .col-2,
.woocommerce-page #customer_details .col-2 {
    margin-top: 64px;
}

.shipping_address p:first-child {
    margin-bottom: 23px;
}

.checkout.woocommerce-checkout label {
    font-weight: normal;
}

.woocommerce .addresses .title,
.woocommerce-page .addresses .title {
    margin-bottom: 5px !important;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    float: right;
    text-align: right;
}

.woocommerce .cart-collaterals .cart_totals table,
.woocommerce-page .cart-collaterals .cart_totals table {
    float: right;
}

.woocommerce .cart-collaterals .cart_totals p,
.woocommerce-page .cart-collaterals .cart_totals p {
    clear: both;
}

/*Colletion page*/

/*media queries*/
@media (max-width: 1199px) {
    .triangle-box {
        position: absolute;
        right: 0;
    }

    .section1 {
        padding-top: 40px;
        padding-left: 80px;
    }
}

@media (min-width: 768px) {
    .hidden-desktop {
        display: none;
    }
}

@media (max-width: 767px) {
    .tp-caption.main-slide, .main-slide {
        font-size: 2.5em !important;
        line-height: 1em !important;
    }

    .vc_grid-item-zone-c-right .vc_gitem-animated-block,
    .vc_grid-item-zone-c-right .vc_gitem-zone-c {
        width: 100% !important;
    }

    .dark-wrapper {
        /*background: #fff !important;*/
    }

    .tp-caption.main2, .main2,
    .hidden-mobile {
        display: none;
    }

    section > .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .logo-section {
        border-bottom: 2px solid #c6c6c6;
        margin-top: 65px;
        background-color: #eff0f3;
        padding-top: 10px;
        padding-bottom: 20px;
        display: none;
    }

    .footer-container {
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        transition: all 300ms ease;
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
        overflow: hidden;
        text-align: left;
        display: none;
    }

    .vc_general.vc_btn3 {
        border: 0;
    }

    .vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-icon-right:not(.vc_btn3-o-empty) .vc_btn3-icon {
        margin-left: .5em;
        float: right;
    }

    .vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-md {
        font-size: 16px !important;
        padding-top: 25px !important;
        padding-bottom: 25px !important;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
    }

    .article-body h2 {
        font-weight: 600;
        margin-bottom: 0px;
        line-height: 40px;
    }

    .article-body p {
        font-weight: 400;
        margin-bottom: 0px;
        line-height: 24px;
        font-size: 22px;
    }

    .button-border {
        border: 1px solid #d1d7df;
        text-align: center;
    }

    .logo-centered {
        text-align: center;
        padding: 34px 0;
        background: #000;
    }

    .mann-slider {
        margin-bottom: 5px !important;
    }

    .mann-slider div[class*="col-sm"] {
        margin-bottom: 20px !important;
    }

    .nav-mobile-aboutus .row > .vc_column_container, .nav-mobile-contact .row > .vc_column_container, .nav-mobile-partners .row > .vc_column_container, .nav-mobile-shop .row > .vc_column_container {
        padding-left: 82px !important;
        padding-right: 82px !important;
    }

    .tp-static-layers > div:nth-child(5), .tp-static-layers > div:nth-child(6) {
        display: none;
    }
}

@media (max-width: 991px) {
    .hidden-portrait {
        display: none;
    }

    #rev_slider_1_1_wrapper .tp-bullets {
        bottom: 80px !important;
    }
}

@media (min-width: 992px) {
    .visible-portrait {
        display: none;
    }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
    section, header {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    h2 span {
        letter-spacing: 2px;
        font-weight: 100;
        line-height: 50px;
    }

    .article-body p span {
        padding-bottom: 20px !important;
        display: inline-block;
    }

    .article-body p {
        line-height: 30px;
    }

    .mobile-shop-btn .vc_btn3.vc_btn3-shape-square {
        font-size: 14px !important;
        padding: 27px !important;
    }

    #rev_slider_1_1_wrapper .tp-bullets {
        bottom: 20px !important;
    }
}

@media (max-width: 500px) {
    .nav-mobile-aboutus .row > .vc_column_container,
    .nav-mobile-contact .row > .vc_column_container,
    .nav-mobile-partners .row > .vc_column_container,
    .nav-mobile-shop .row > .vc_column_container {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .pivot-normal.vc_row.hidden-desktop.mobile-article-text {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    h2 span {
        line-height: 38px;
        font-size: 32px;
    }

    .article-body p span {
        padding-bottom: 20px !important;
        display: inline-block;
    }

    .article-body p {
        line-height: 30px;
        font-size: 18px;
    }

    .article-body p em span {
        font-size: 16px !important;
    }

    .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text {
        width: 175px !important;
    }
	
	.container .mix {
		box-sizing: border-box;
		width: 100%;
		float:none;
	}

	#press-wrapper .row {
		-webkit-columns: 2;        
		-moz-columns: 2;
		columns: 2;
	}
	
	.mixitup-filters ul li {
    width: 49%;
    box-sizing: border-box;
    text-align: right;
	}
	
	.mixitup-filters ul {margin: auto 0;}
	.mixitup-filters ul li:nth-child(even) {text-align: left;}
}

.article-single.woocomerce {
    margin-top: 71px;
}

.product_title {
    font-weight: normal;
    font-size: 20px;
    color: #0e2e46;
    margin-bottom: 2px !important;
    font-family: 'Abril Fatface', cursive !important;
}

.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
    width: 19%;
}

.article-single.woocomerce .container {
    width: 1170px;
    padding-top: 52px;
    background-color: white;
    box-sizing: border-box;
}

.article-single.woocomerce .container * {
    font-family: Lato, sans-serif;
}

.woocommerce .images {
    margin-left: 53px;
}

.entry-summary p {
    width: 400px;
    font-size: 12px;
    color: black;
}

.summary .price > span.amount {
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    border: 0;
    margin: 0;
    position: relative;
    top: 4px;
    font-family: Lato, sans-serif !important;
}

.summary .price, .short-description {
    border-bottom: 1px solid black;
    width: 400px;
    padding-bottom: 20px !important;
    margin-bottom: 10px;
    padding-left: 0;
}

.choose-variation {
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 25px;
    font-weight: 500 !important;
}

button.variation {
    width: 190px;
    height: 40px;
    border-radius: 0;
    background: white;
    color: black;
    border: 1px solid black;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 500;
    text-transform: none !important;
}

.quantity-buttons {
    position: relative;
    top: -7px;
}

button.variation[value="the-white-edition"] {
    margin-right: 0 !important;
}

.single_variation {
    margin-bottom: 32px;
}

button.variation.selected {
    width: 190px;
    height: 40px;
    border-radius: 0;
    background: black;
    color: white;
    border: 0;
}

button.quantity {
    width: 40px !important;
    height: 40px;
    border-radius: 0;
    outline: 0;
    min-width: 40px !important;
    text-align: center;
    padding: 0;
    margin-right: 15px !important;
    background: white;
    color: black;
    border: 1px solid black;
    font-size: 12px;
    font-weight: 500;
}

button.quantity.white, button.quantity.black {
    width: 40px !important;
}

button.quantity.selected {
    width: 40px !important;
    background: black;
    color: white;
    border: 0;
}

input.qty, .sku_wrapper {
    display: none;
}

.cart_item input.qty {
    display: block;
}

.single_add_to_cart_button {
    width: 220px;
    height: 45px;
    border: 1px solid black !important;
    color: black !important;
    background: white;
    text-transform: uppercase;
    text-decoration: none !important;
    display: block;
    font-size: 11px !important;
    font-weight: 500 !important;
    line-height: 45px;
}

.single_add_to_cart_button:hover {
    color: white !important;
    background: black;
}

.stock.in-stock {
    display: none;
}

.tabs {
    height: 80px;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
    box-sizing: border-box;
    overflow: visible !important;
}

.tabs li, .tabs li a {
    height: 78px;
    margin: 0;
    line-height: 70px;
    padding: 0 !important;
}

.tabs li a {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: -5px;
    color: black;
    padding-top: 5px !important;
}

.tabs li.active a {
    border-top: 5px solid black;
    color: #5e5e5e !important;
}

.ui-accordion-header-active {
    border-bottom: 1px solid black !important;
}

#accordion h3 {
    cursor: pointer;
    height: 80px;
    border-top: 1px solid black !important;
    box-sizing: border-box;
    line-height: 80px;
    text-align: center;
}

#accordion .variations-content_accordion {
    border-bottom: 1px solid black !important;
}

.woocommerce .container .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}

#accordion {
    display: none;
}

.mobile-product-header {
    display: none;
}

.variable-buttons button[data-value="the-white-edition"] {
    margin-right: 0 !important;
}

button.single_add_to_cart_button.alt:hover {
  background: black !important;
  color: white !important;
  background-color: black !important;
  opacity: 1 !important;
  height: 46px !important;
}

button.single_add_to_cart_button.alt {
  width: 220px;
  height: 45px;
  border: 1px solid black !important;
  color: black !important;
  text-transform: uppercase;
  text-decoration: none !important;
  display: block;
  font-size: 11px !important;
  font-weight: 500 !important;
  line-height: 45px;
  border-top: none;
  border-left: none;
  border-right: none;
  min-width: 1px;
  border-radius: 0;
  background: none;
  padding: 0 !important;
}

.single-product .product_meta {display:none;}

@media (max-width: 768px) {
    .mobile-product-header {
        display: block !important;
    }

    .mann-pagetext .wrapper {
        padding-bottom: 0;
    }

    .vc_row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .mobile-product-header .product_title {
        border-bottom: 1px solid black;
        padding-bottom: 20px;
        margin-bottom: 40px !important;
        font-size: 30px;
        font-weight: 700;
        width: 434px;
        margin-left: auto;
        margin-right: auto;
    }

    #accordion {
        display: block !important;
    }

    li.payment_method_paypal img,
    .woocommerce-tabs.hide-mobile {
        display: none !important;
    }

    .ui-accordion-content-active {
        display: block !important;
    }

    .entry-summary .product_title, .entry-summary .variable-buttons {
        display: none;
    }

    .variable-buttons {
        width: 434px;
        margin: 0 auto;
    }

    table.variations {
        display: none;
    }

    .single_add_to_cart_button {
        width: 100%;
    }

    .woocommerce .summary.entry-summary {
        float: none !important;
        margin: 0 auto;
    }

    .images {
        margin: 0 !important;
    }

    .variations_form {
        margin-top: -15px !important;
    }

    .contest-gallery .caption {
        display: block !important;
        position: relative !important;
        padding-top: 5px !important;
    }
    .mobile-padding {
        padding: 25px !important;
    }
}

@media (min-width: 769px)  and (max-width: 980px) {
    .woocommerce .summary.entry-summary {
        margin-left: 0 !important;
        width: 396px !important;
    }

    .images {
        margin: 0 !important;
    }

    button.variation {
        margin-right: 14px;
    }
}

@media (min-width: 981px)  and (max-width: 1150px) {
    .woocommerce .summary.entry-summary {
        margin-left: 0 !important;
    }
}

.woocommerce-tabs h2 {
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.woocommerce-tabs h3 {
    font-weight: 700;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.rbl_try_watch {
    max-width: 1170px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 50px;
    background: white;
    font-size: 18px;
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 60px;
    margin-bottom: 40px;
}

.postid-678 .rbl_try_watch {display:none;}
.postid-678 .images {margin-bottom: 55px !important;}
.postid-678 section .container {margin-bottom: 35px !important;}

.rbl_try_watch h2 {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

.lang-switcher ul li.inactive,
.nav-with-logo .lang-switcher ul li.inactive,
.nav-sticky .lang-switcher ul li.inactive {
    display: none;
}

.menu-item-2345.has-dropdown:hover div.subnav,
.menu-item-1156.has-dropdown:hover div.subnav {
    height: 351px;
}

.menu-item-2345.has-dropdown div.subnav h1,
.menu-item-1156.has-dropdown div.subnav h1 {
	text-align: center;
	font-family: Abril Fatface, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 13px;
}

.menu-item-2345.has-dropdown div.subnav img,
.menu-item-1156.has-dropdown div.subnav img {
    margin-top: 30px;
}

.menu-item-2345.has-dropdown .aq-block-aq_section_title_block span,
.menu-item-1156.has-dropdown .aq-block-aq_section_title_block span {
    text-transform: none;
    font-size: 16px;
    font-weight: 500;
}

.contest-gallery .caption {
    display: none;
    position: absolute;
    bottom: 0;
    background: #f1f0f0;
    padding-top: 25px;
    width: 100%;
    height: 180px;
    padding-left: 35px;
    padding-right: 35px;
}

.contest-gallery .caption h2 {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

.contest-gallery .caption p {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
}

.contest-gallery hgroup p {
    text-align: center;
    width: 100%;
    font-size: 12px !important;
    position: relative;
    top: 10px;
}

.container p.cite {
    max-width: 570px;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 14px;
    text-transform: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
}

.contest-gallery .caption .author-cont {
    color: black;
    font-size: 10px;
    width: 100%;
    text-align: center;
    display: block;
    position: relative;
}

.contest-gallery .entry-contest {
    width: 350px;
    float: left;
    margin: 10px;
    position: relative;
}

@media (max-width: 990px) {
    .contest-gallery .entry-contest {
        width: 350px;
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
        position: relative;
    }

}

.contest-gallery .entry-contest a, .contest-gallery .entry-contest img {
    width: 350px;
    height: 350px;
}

.temporary-hidden {
    display: none;
}

.white-border-btn a.vc_btn3.vc_btn3-shape-square {
    border: 1px solid white !important;
}

.white-border-btn a.vc_btn3.vc_btn3-shape-square:hover{
    border: 1px solid #c7c7c7 !important;
}

.custom-width.vc_custom_1435551595658   {
    padding-left: 118px !important;
    padding-right: 100px !important;
}

ul.wcml_currency_switcher.curr_list_vertical {
	padding-bottom:50px;
	display:block;
	position:relative;
	width: 30px;
  border-top-width: 0;
}

ul.wcml_currency_switcher.curr_list_vertical li {
	display: block;
	height:0;
	overflow:hidden;
	border:0px solid black;
	position:absolute;
	width:90px;
	text-align:left;
	padding:0px 15px;
	color:black;
	background:white;
	top:37px;
	left:-15px;
	transition:.2s ease-in-out;
}

ul.wcml_currency_switcher.curr_list_vertical:hover li {
    padding:20px 15px;
}

ul.wcml_currency_switcher.curr_list_vertical li.wcml-active-currency {
    display: block;
    color:white;
    background:none;
    top:-15px;
    left:0;
    padding:15px 0 0;
    height: 51px;
}

.nav-with-logo ul.wcml_currency_switcher.curr_list_vertical li,
.nav-sticky ul.wcml_currency_switcher.curr_list_vertical li {
	left:auto;
	right:-15px;
	text-align:right;
}

.nav-with-logo ul.wcml_currency_switcher.curr_list_vertical li.wcml-active-currency,
.nav-sticky ul.wcml_currency_switcher.curr_list_vertical li.wcml-active-currency {top:-13px;right:0;}

.lang-switcher img {
  display: none !important;
}

p.product.woocommerce.add_to_cart_inline {
	border: 0px !important;
	text-align: center;
	margin-bottom: 20px;
}

p.product.woocommerce.add_to_cart_inline a {display: none;}

.thumbnails {
  box-sizing: border-box;
  padding-left: 52px;
}

.no-padding .vc_column_container{padding:0;}

@media (max-width: 400px) {
    .contest-gallery .entry-contest {
        width: 100% !important;
    }
    .contest-gallery .entry-contest a, .contest-gallery .entry-contest img {
        width: 100% !important;
        height: auto !important;
    }
}

/*SPINNER*/
.spinner {
  border: 4px solid black;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
}

.minute-spin {
	border-radius:50%;
	position: relative;
  top: 50%;
  left: 50%;
	border-top: 16px solid black;
  border-bottom: 16px solid transparent;
  width: 4px;
  margin-left: -2px;
  margin-top: -68px;
	
	-webkit-animation-name: spin;
	-webkit-animation-duration: 2500ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 2500ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 2500ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	animation-name: spin;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hour-spin {
	border-radius:50%;
  border-top: 26px solid black;
  border-bottom: 26px solid transparent;
  width: 4px;
  margin: auto;
	
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 1000ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 1000ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.spinner-mid {
	border-radius:100%;
	background:black;
	z-index:999;
	position:absolute;
	top:50%;
	left:50%;
	width:6px;
	height:6px;
	margin-top:-3px;
	margin-left:-3px;
}

.jck-wt-all-images-wrap.jck-wt-all-images-wrap--thumbnails-below {
    width: 50%;
    box-sizing: border-box;
    padding: 66px 0 0 70px;
}

.mfp-ready .mfp-figure {opacity: 1;}
.jck-wt-thumbnails__slide {width: 126px !important;}

@media only screen and (max-width: 635px) {
	.jck-wt-all-images-wrap {
		float: none!important;
	}
	.jck-wt-thumbnails__slide {
		width: 25%!important;
	}
	.jck-wt-all-images-wrap.jck-wt-all-images-wrap--thumbnails-below {
		margin: 0 auto;
		padding: 66px 30px;
	}
    .jck-wt-thumbnails-wrap {
        width: 130px;
    }
    .jck-wt-all-images-wrap.jck-wt-all-images-wrap--thumbnails-below{
        width: 100%;
    }
   
    .jck-wt-thumbnails-wrap.jck-wt-thumbnails-wrap--stacked{
        width: 100%;
    }
    .rbl_background_product_image + div{
        width: 100%!important;
    }
}


/** video */

/*video::-webkit-media-controls {*/
    /*display:none !important;*/
/*}*/
#video{
    position: relative;
}

#video .control{
    position: absolute;
    width: 36px;
    left: 20px;
    bottom: 20px;
    z-index: 9;
}

#video .control>div{
    margin-bottom: 12px;
    cursor: pointer;
    width: 36px;
    height: 36px;
}

#video .control .play{
    background: url('/wp-content/uploads/2016/04/pause.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#video .control .pause{
    background: url('/wp-content/uploads/2016/04/play.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#video .control .volume{
    background: url('/wp-content/uploads/2016/04/volume.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#video .control .mute{
    background: url('/wp-content/uploads/2016/04/mute.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#video .video-watch{
    position: absolute;
    right: 28px;
    bottom: 46px;
    z-index: 9;
    display: none;
}
#video .video-watch .watch-button-on-video{
    position: absolute;
    bottom: 0;
    left: 0;
}

#video .video-title {
    position: absolute;
    margin-top: 14%;
    width: 100%;
    text-align: center;
}
#video .video-title h1,
#video .video-title h2 {
    margin: 0;
    color: white;
}
#video .video-title-first {
    font-size: 46px;
}
#video .video-title-second {
    font-size: 26px;
}
#video .video-title-third {
    font-size: 35px;
    font-style: italic;
}

.btn-shop-online {
    text-align: center;
    background-color: rgba(245, 247, 249, 0.8);
    display: block;
    padding: 16px;
    transform: rotate(8deg);
    margin-top: -75px;
    margin-left: -15px;
}

.btn-shop-online:hover,
.btn-shop-online:focus,
.btn-shop-online:active {
    text-decoration: none;
    color: #000;
}

.btn-shop-top-title {
    display: block;
    font-size: 12px;
    line-height: 1em;
    font-weight: 100;
    text-transform: uppercase;
}

.btn-shop-bottom-title {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1em;
    padding-top: 4px;
    text-transform: uppercase;
}

#video .volume-slider{
    -webkit-appearance: none;
    padding: 0;
    width: 70px;
    background: #ddd;
    border: none;
    /* border-radius: 3px; */
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
    display: none;
}

#video .volume-slider::-webkit-slider-runnable-track {
    width: 300px;
    height: 2px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

#video .volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    border-radius: 50%;
    margin-top: -4px;
    height: 11px;
    width: 10px;
    background-color: #999;
}

#video .volume-slider:focus {
    outline: none;
}

#video .volume-slider:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

video{
    width: 100%;
}
@media only screen and (max-width: 635px) {
    #video .video-watch{
        width: 81px;
    }
}
/** end video */